.wrapper {
    max-width: 900px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-dark);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 100px auto;
}

.title {
    font-size: var(--font-size-heading);
    font-family: var(--font-heading);
    display: flex;
    justify-content: flex-end;
}

.empty {
    font-size: 18px;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    justify-content: space-between;
}

.delete {
    background: none;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.summary {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.pay {
    background-color: #3498db;
    color: white;
}

.home {
    background-color: rgba(239, 239, 240, 0.815);
    color: var(--color-dark);

}