.app-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    height: var(--header-height);
    margin: 20px auto 85px auto;
    padding: 20px 40px;
    border-radius: var(--radius);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-dark);
    background-color: var(--blur-bg);
    z-index: 10;
}

.leftText,
.rightText {
    font-size: var(--font-size-input-button);
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
}

.logo__img {
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

.leftGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark);
    font-weight: var(--button-font-weight);
    font-size: var(--font-size-input-button);
}

.link:hover {
    opacity: 0.7;
}

.separator {
    font-weight: 400;
    opacity: 0.5;
}